
/* --------------------- Overwrite xnat.css -------------------------- */
div.containerBody h2 { font-size: 15px; }
div.containerBody h3 { font-size: 13px ; margin: inherit; line-height: inherit; }

div.project-access { float: right; padding: 10px 0; color: #666; text-transform: uppercase; }
div.project-info { display: inline-block; vertical-align: top; }
div.project-info h2 { margin: 4px 0; }

#autogen_warning { display:none; }

fieldset { border: none; }

/*
.btn {  background-color: #f3f3f3; border: 1px outset #ccc; border-radius: 2px; box-shadow: 0 1px 2px 0 #e0e0e0; color: #333; cursor: pointer; font-size: 14px; height: 36px; padding: 6px 12px; }
*/
.btn-sm, .input-sm { font-size: 12px; font-weight: normal; height: inherit; padding: 4px 8px; }
.btn-sm .icon, .icon-sm { background-size: 16px 16px; height: 16px; width: 16px; margin: 0 4px -2px -2px; }
.btn-xs, .input-xs { font-size: 11px; font-weight: normal; height: inherit; padding: 2px 4px; }
.btn-inline { display: inline-block !important; }
.btn-inline.right { position: absolute; right: 0; }

.btn:hover, .btn1:hover, .btn2:hover, .btn3:hover, .input:hover { border: 1px inset #888; box-shadow:none; opacity: 0.9; filter: alpha(opacity=90);  }

/* footer graphic */
/*#xnat_power { border-top: 1px solid #ccc ; bottom: -70px;  height: 70px; left: 0; margin: inherit; position: absolute; width: 100%;  }*/
#xnat_power a { float: inherit; margin: 10px ; }

div.edit_header1, div.edit_title { border-bottom: none; margin-bottom: 5px ; }
div.edit_title { margin-left: 0; }

#layout_content form * b, #index_content form * b { font-weight: bold !important ; }
#layout_content form * b u, #index_content form * b u { font-weight: bold !important ; text-decoration: underline ; }

/* instead, let's use separators */
span.sep { background-color: #999; margin: 0 .25em; height: 0.8em; width: 1px; display: inline-block; }


/* ---------------------------- overwrite tabWrangler.css ------------------------ */

.yui-navset.wrangled { width: inherit !important; }

/* ---------------------------- new styles ------------------------------ */

/* friendlyForm styles. Taken from ConnectomeDB */
.friendlyForm fieldset, fieldset {
    border: solid #e4efff;
    border-width: 4px 0 0;
    margin: 1em 0;
    padding: 1em 0;
}
.friendlyForm fieldset.error {
    background-color: #fffcc9;
    border-color: #cc9;
    color: #d40000;
}
.friendlyForm p {
    line-height: 1.4em !important;
    margin-bottom: 1em;
    position: relative;
}
.friendlyForm h4 {
    border-bottom: 1px solid #999;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 6px;
}
.friendlyForm label {
    color: #777;
    display:block;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: uppercase;
}
.friendlyForm input[type=text],
.friendlyForm input[type=password],
.friendlyForm input[type=file],
.friendlyForm textarea,
.friendlyForm select {
    font-size: 14px !important;
    padding: 6px;
    width: 96%;
}
.friendlyForm input[type=file] {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin: 1em 0;
    margin-bottom: inherit;
    padding: 1em;
}
.inputWrapper {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 2em;
    padding:20px 0;
    position: relative;
}
.inputWrapper.horizontal { display: inline-block; vertical-align: top; width: 350px; }
.inputWrapper.highlighted {
    background-color: #e4efff;
}
.inputWrapper.error {
    border: none;
    padding: 6px;
    position: relative;
    top: 0; left: 0;
    width: inherit;	/* override other .error styles */
}
.inputWrapper.error,
.inputWrapper table tr.error { background-color: #fde;  }

.inputWrapper.wide {
    width: 600px;
}
.inputWrapper.error h3,
.inputWrapper.error ul {
    margin-left: 30px !important;
}
.friendlyForm p.error {
    color: #c33;
    font-size: 12px !important;
    font-weight: bold;
}
.inputWrapper label {
    color: #37c;
}
.inputWrapper input[type=text],
.inputWrapper input[type=password],
.inputWrapper textarea {
    width: 330px;
}
.inputWrapper.wide input[type=text],
.inputWrapper.wide input[type=password],
.inputWrapper.wide textarea {
    width: 600px;
}
.inputWrapper input:read-only { background-color: #f0f0f0; color: #999; }

.inputWrapper .helptext,
.inputWrapper .helptext-error {
    color: #888;
    font-size: 12px;
    line-height: 14px;
    position: absolute; bottom: 18px; left: 425px;
}
.inputWrapper.wide .helptext,
.inputWrapper.wide .helptext-error {
    padding-top: 4px;
    position: inherit; bottom: inherit; left: inherit;
}
.inputWrapper table { border: 1px solid #ccc; border-collapse: collapse; }
.inputWrapper td, .inputWrapper th { padding: 3px; }
.inputWrapper td { border-top: 0; }
.inputWrapper th { text-align: left; background-color: #f3f3f3; }
p.form-submit {
    font-size:12px !important;
    text-align: right;
}
.form-submit input,
.request-access input,
.overlay-action input {
    font-size: 16px !important;
    padding:6px 12px;
}
.request-access input {
    float:right;
}

.friendlyForm .inputWrapper {
    background-color: #fff;
    border: none;
}
.friendlyForm.mini .inputWrapper { padding: 10px; }
.friendlyForm.mini label { display: inline-block; width: 200px; text-transform: inherit;  }
.friendlyForm.mini input[type=text],
.friendlyForm.mini input[type=password],
.friendlyForm.mini input[type=file],
.friendlyForm.mini textarea {
    font-size: 12px !important;
    padding: 3px;
    width: inherit;
}

.friendlyForm.mini .dataTable label { width: 100px; }

label.disabled { color: #a0a0a0; font-weight: normal; }

.ez_cal_wrapper input { padding: 4px 8px; }

/******* TABLE DISPLAY FOR BASIC REPORTING, NON-YUI DATATABLES ********/

#tip_projects_list .even,
#tip_projects_list .odd { min-height: 42px; }

.report-info-block h1,
.report-info-block h2,
.report-info-block h3 { margin: 2em 0 0.5em; }
.report-info-block h2 { border-bottom: 3px solid #ccc; padding-bottom: 4px; }

/* Custom report styles for TIP */

#activeWorkflows { margin: 4em 0; }

.workflowListingDetail p,
.workflowEntry p { font-size: 11px; text-transform: uppercase; margin: 0; }
.workflowListingDetail h3 { margin: 4px 0; }
.workflowListingDetail a { font-weight: bold; }

#workflow_messages { margin-bottom: 1em; }

/* jquery datatables style override */

table.dataTable { border-bottom: 1px solid #333; margin: 1em auto !important; }
table.dataTable thead th { text-align: left; }
table.dataTable tr.odd { background-color: #f7f7f7 !important; }
table.dataTable tr.odd td.sorting_1,
table.dataTable tbody tr:nth-child(2n-2) td.rowDetailsExpanded { background-color: #d3dfff !important; }
table.dataTable tr.even td.sorting_1,
table.dataTable tbody tr:nth-child(2n-1) td.rowDetailsExpanded { background-color: #f0f7ff !important; }
table.dataTable tr.disabled { color: #aaa; }

.xnat-table.banded tbody tr:nth-child(2n-2) { background-color: #f7f7f7; }

/* Image Slider styles */
.imageSliderContainer {
    background-color: #e4efff;
    margin-bottom: 2px;
    padding: 4px;
    width: inherit;
    display: inline-block;
    position: relative;
}
.imageSlide { display: none; text-align: center; width: 792px; }
.imageSlide img { max-width: 100%; }
.imageSlide.active { display: block; }

.imageSliderControls {
    height: 42px;
    opacity: .3;
    position: absolute;
    top: 50%;
    width: 100%;
}
.imageSliderControls:hover { opacity: .8; }

.imageSliderControls .slideRight,
.imageSliderControls .slideLeft {
    background: rgba(63,152,211,1);
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 21pt;
    height: 42px;
    margin-top: -21px;
    position: absolute;
    text-align: center;
    width: 42px;
}
.imageSliderControls .slideRight {
    right: 16px;
}
.imageSliderControls .slideLeft {
    left: 10px;
}
.imageSliderControls .slideRight:before {
    content: "\f054";
    position: absolute;
    left: 14px;
    top: 14px;
}
.imageSliderControls .slideLeft:before {
    content: "\f053";
    position: absolute;
    right: 14px;
    top: 14px;
}

.imageSlide .slideTitleBar { padding: 3px 0; position: relative; }
.imageSlide .slideTitle { font-weight: bold; }
.imageSlide .slideCounter { position: absolute; right: 0; }

/* simulate xModal appearance in popup windows for pipelines. */
/*body.xmodal #layout_content { margin: 0; }*/
/*body.xmodal #xnat_power { display: none; }*/

div.pipemodal { position: absolute; top: 0; left: 0; padding: 0 ; overflow: hidden ; background: #fff ; /* border-radius: 9px ; */ }
div.pipemodal .title { position: relative ; height: 25px ; padding-left: 10px ; overflow: hidden ; font-size: 12px ; font-weight: normal ; line-height: 28px ; vertical-align: middle ; color: #333 ; background: /* #084FAB */ /* #206bc4 */ #f0f0f0 url('images/nav_bkdg.png') center center repeat-x ; border-bottom: 1px solid #c0c0c0 ; /* border-radius: 5px 5px 0 0 ; */ }
div.pipemodal .title .close { width: 36px ; height: 24px ; margin: 0 !important ; padding: 0 !important ; position: absolute ; top: 1px ; right: 1px ; background: url('images/close-yui.gif') center center no-repeat ; border: none ; }
div.pipemodal .body { position: relative ; overflow: hidden ; }
div.pipemodal .body.scroll { overflow-y: auto ; }
div.pipemodal .body .inner { padding: 20px ; font-size: 13px ; line-height: 17px ; }
div.pipemodal .body h1, div.pipemodal .body h2, div.pipemodal .body h3, div.pipemodal .body h4 { margin-bottom: 1em !important; }
div.pipemodal .body p { margin: 0 0 1em ; }
div.pipemodal .footer { display: block ; position: relative ; height: 52px ; padding: 0 16px ; vertical-align: middle ; background: #f0f0f0; border-top: 1px solid #e0e0e0 ; overflow: visible ; }
div.pipemodal .footer.white { background: #fff ; border-top-color: #fff ; }
div.pipemodal .footer .inner { text-align: right }
div.pipemodal .footer .inner .content { position: absolute ; left: 0 ; padding: 10px 0 ; }
div.pipemodal .footer .button, div.pipemodal .footer .button.cancel.default { display: inline-block ; height: 24px ; margin: 12px 0 0 6px ; padding: 1px 15px !important ; line-height: 24px ; vertical-align: middle ; font-size: 13px ; font-weight: normal ; text-decoration: none !important ; color: #333 ; background: #e0e0e0 url('images/btn2_30px.png') center center repeat-x ; border: 1px solid #808080 ; border-radius: 3px ; }
div.pipemodal .footer .button:active, div.pipemodal .footer .button.cancel.default:active { color: inherit ; background: #d0d0d0 }
div.pipemodal .footer .button.default { font-weight: bold ; color: #fff ; background: /* #084FAB */ /* #206bc4 */ #07428d url('images/btn1_30px.png') center top repeat-x ; border-color: /* #206bc4 */ /* #243356 */ #293d66 ; } div.pipemodal .footer .button.default:active { background: /* #206bc4 */ /* #4482cd */ #084FAB ; border-color: /* #084FAB */ #243356 ; }
div.pipemodal .footer .button.hidden, div.pipemodal .footer .button.disabled { display: inline-block ; color: #f0f0f0 ; background: #d0d0d0 ; border-color: #c0c0c0 ; }
div.pipemodal .footer .button.hidden:hover, div.pipemodal .footer .button.disabled:hover { cursor: not-allowed !important ; background: #d0d0d0 ; }
.ie8 div.pipemodal .footer .button { /* margin: 10px ; */ padding: 3px 6px ; }
.ie9 div.pipemodal .footer .button { /* margin: 12px ; */ padding: 4px 6px 3px ; } .modal_content { display: none ; }

.col-2 { width: 45%; float:left; padding-right: 5%; }

.pipemodal div.error { margin-top: 0; }

.pipemodal fieldset { background-color: #f0f0f0; border: 1px solid #ccc; margin: 1em 0; padding: 1em; }
.pipemodal fieldset legend { border-radius: 3px; padding: 3px; background-color: inherit; }
.pipemodal fieldset label { display: inline-block; font-weight: bold; min-width: 100px; padding-right: 10px; }
.pipemodal fieldset p { margin-bottom: 1em; }
.pipemodal .label-container,
.pipemodal .input-container,
.pipemodal .helptext-container { display: inline-block; vertical-align: top; }
.pipemodal .helptext-container { color: #666; float: right; font-size: 11px; padding-left: 24px; width: 200px }
.pipemodal .helptext-container:before {
    content: "\f0d9";
    display: inline-block;
    font-family: "FontAwesome";
    margin-left: -10px;
    width: 10px;
}
.pipemodal fieldset .col-2 label { min-width: 75px; }

.pipemodal fieldset.error { background-color: #fffcc7; }
.pipemodal fieldset.error legend { color: #c33; }
.pipemodal fieldset.error .required { border-color: #c33; }

.pipemodal input, .pipemodal select, .pipemodal textarea { border: 1px solid #999; padding: 2px 1px;}

.pipemodal table { border: 1px solid #ccc; }
.pipemodal td, .inputWrapper th { padding: 3px; }
.pipemodal td { border-top: 1px solid #ccc; }
.pipemodal th { text-align: left; background-color: #f3f3f3; }
tr.empty { background-color: #fffcc7; color: #933; }


div.pipemodal.embedded { top: 0; left: 0; border: none; box-shadow: none; display: block; width: 100%; max-width: 100%; max-height: 100%; z-index: auto;  }
div.pipemodal.embedded .body .inner { display: block; }

/* special cases for popups with conflicting style declarations */
div.xmodal.pipemodal.embedded .footer { position: absolute; padding: 0; }
div.xmodal.pipemodal .footer .inner { position: relative ; bottom: 1px ; }
div.xmodal.pipemodal .footer .buttons { position: absolute ; right: 0 ; }

/* Avoid over-padding XNAT full-page content when displayed in a modal. */

.xmodal .inner #layout_content { margin: 0; }


