<!-- BEGIN imageSessionData/xnat_imageSessionData_report.vm -->
<style>
    .report-section { margin: 1em 0; }
</style>

#if($project)

#else
	#set($project=$om.getProject())
#end
<script type="text/javascript" src="$content.getURI("scripts/FileViewer.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/uploaders/imageUploader.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/uploaders/fileuploader.js")"></script>
<script type="text/javascript">
    document.title = "$om.getSchemaElement().getSingularDescription(): $!item.getProperty('label')";
</script>
#set($subject = $om.getSubjectData())
#if($item.needsActivation())
    #parse($turbineUtils.getTemplateName("_quarantine",$om.getXSIType(),$project))
#end
#addCustomScreens($om.getXSIType() "report/errors")
#parse($turbineUtils.getTemplateName("_title",$om.getXSIType(),$project))
#if($project)

#else
	#set($project=$om.getProject())
#end

#addCustomScreens($om.getXSIType() "report/alert")
#parse("/screens/workflow_alert.vm")

<div name="details" class="report-section">
	#parse($turbineUtils.getTemplateName("_details",$om.getXSIType(),$project))
</div>

<div name="custom-post-details" class="report-section hidden">
	#addCustomScreens($om.getXSIType() "report/postDetails")
</div>

<div name="project-specific-fields" class="report-section">
	#parse("/screens/ReportProjectSpecificFields.vm")
</div>

<div name="qc-summary">
	#parse("/screens/tip_qc_summary.vm")
</div>

<div name="custom-pre-scans" class="report-section hidden">
	#addCustomScreens($om.getXSIType() "report/preScans")
</div>

<div name="scans" class="report-section">
	#parse($turbineUtils.getTemplateName("_scans",$om.getXSIType(),$project))
</div>

<div name="custom-post-scans" class="report-section hidden">
	#addCustomScreens($om.getXSIType() "report/postScans")
</div>

<div name="reconstructions" class="report-section">
    <!--TEST 1-->
	#set ($scanCounter = 101)
	#parse($turbineUtils.getTemplateName("_reconstructions",$om.getXSIType(),$project))
</div>

<div name="custom-post-recons" class="report-section hidden">
	#addCustomScreens($om.getXSIType() "report/postRecons")
</div>

<div name="workflow-summary" class="report-section">
    <!--TEST 2-->
	#set ($scanCounter = 202)
	#parse("/screens/workflow_summary.vm")
</div>

<div name="custom-post-workflow" class="report-section hidden">
	#addCustomScreens($om.getXSIType() "report/postWorkflowSummary")
</div>

<div name="assessments" class="report-section">
	#parse($turbineUtils.getTemplateName("_assessments",$om.getXSIType(),$project))
</div>

<div name="custom-post-assessments" class="report-section hidden">
	#addCustomScreens($om.getXSIType() "report/postAssessments")
</div>

<script type="text/javascript">
    var image_session_id="$om.getId()";
</script>

<script type="text/javascript">

    function  toggleQuarantine(){
		#if($item.needsActivation())
            window.qStatus="true"
		#else
            window.qStatus="false"
		#end
        if(window.qStatus=="true"){
            var initCallback={
                success:function(o){
                    closeModalPanel("quarantine_");
                    if(document.getElementById("quarantine_div")!=undefined){
                        document.getElementById("quarantine_div").style.display='none';
                    }
                    if(document.getElementById("quarantine_a")!=undefined){
                        document.getElementById("quarantine_a").innerHTML="Places this data in quarantine.";
                        document.getElementById("quarantine_a").innerHTML="<img id='quarantine_img' border='0' src='$content.getURI("images/checkmarkOrange.gif")'/> Quarantine";
                    }
                    window.qStatus="false";
                },
                failure:function(o){
                    closeModalPanel("quarantine_");
                },
                cache:false, // Turn off caching for IE
                scope:this
            }
            openModalPanel("quarantine_","Removing item from quarantine.");
			#if($item.instanceOf("xnat:subjectData"))
                YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()?activate=true&XNAT_CSRF="+csrfToken,initCallback);
			#elseif($item.instanceOf("xnat:derivedData"))
                YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()?activate=true&XNAT_CSRF="+csrfToken,initCallback);
			#else
                YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()?activate=true&XNAT_CSRF="+csrfToken,initCallback);
			#end
        }else{
            var initCallback={
                success:function(o){
                    closeModalPanel("activate_");
                    if(document.getElementById("quarantine_div")!=undefined){
                        document.getElementById("quarantine_div").style.display='none';
                    }
                    if(document.getElementById("quarantine_a")!=undefined){
                        document.getElementById("quarantine_a").innerHTML="Removes this data and its descendents from quarantine.";
                        document.getElementById("quarantine_a").innerHTML="<img id='quarantine_img' border='0' src='$content.getURI("images/checkmarkGreen.gif")'/> Activate";
                    }
                    window.qStatus="true";
                },
                failure:function(o){
                    closeModalPanel("activate_");
                },
                cache:false, // Turn off caching for IE
                scope:this
            }
            openModalPanel("activate_","Placing item in quarantine.");
			#if($item.instanceOf("xnat:subjectData"))
                YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()?quarantine=true&XNAT_CSRF="+csrfToken,initCallback);
			#elseif($item.instanceOf("xnat:derivedData"))
                YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()?quarantine=true&XNAT_CSRF="+csrfToken,initCallback);
			#else
                YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()?quarantine=true&XNAT_CSRF="+csrfToken,initCallback);
			#end
        }
    }
    var obj={};
    obj.uri=serverRoot + "/REST/experiments/$!om.getId()";
    obj.refresh = serverRoot + "/data/services/refresh/catalog?options=" + encodeURIComponent("populateStats,append,delete,checksum") + "&XNAT_CSRF=" + csrfToken + "&resource=/archive/experiments/$!om.getId()";
    obj.objectId = "$!om.getId()";
    obj.objectType = "session";
    obj.categories={};
    obj.categories.ids=[];

		#if($item.isActive() || $item.isQuarantine())
			#if ($turbineUtils.canEdit($user, $item))
            obj.canEdit=true;
			#else
            obj.canEdit=false;
			#end
			#if ($turbineUtils.canDelete($user, $item))
            obj.canDelete=true;
			#else
            obj.canDelete=false;
			#end
		#else
        obj.canEdit=false;
        obj.canDelete=false;
		#end

		#if($om.getSortedScans().size()>0)
        obj.categories.ids.push("scans");
        obj.categories["scans"]=new Array();
			#foreach($scan in $om.getSortedScans())
            obj.categories["scans"].push({id:"$scan.getId()",label:"$!scan.getId() $!scan.getType()"});
			#end
		#end

		#if($om.getReconstructions_reconstructedimage().size()>0)
        obj.categories.ids.push("reconstructions");
        obj.categories["reconstructions"]=new Array();
			#foreach($recon in $om.getReconstructions_reconstructedimage())
            obj.categories["reconstructions"].push({id:"$recon.getId()",label:"$!recon.getId() $!recon.getType()"});
			#end
		#end

		#if($om.getMinimalLoadAssessors().size()>0)
        obj.categories.ids.push("assessors");
        obj.categories["assessors"]=new Array();
			#foreach($assessor in $om.getMinimalLoadAssessors())
            var element_name = window.available_elements_getByName("$!assessor.getXSIType()");
            if(undefined != element_name && null != element_name){
                obj.categories["assessors"].push({id:"$assessor.getId()",label:"$!assessor.getLabel() " + element_name.singular});
            }else{
                obj.categories["assessors"].push({id:"$assessor.getId()",label:"$!assessor.getLabel() $!assessor.getXSIType()"});
            }
			#end
		#end

    obj.isImageSession=true;
    window.viewer=new FileViewer(obj);

    function showFiles(){
        window.viewer.render();
    }
</script>
<style type="text/css">
    .icon-of { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/of.gif")) no-repeat;}
    .icon-f { display:block; font-size:11px; height: 17px; padding-left: 4px;}
    .icon-cf { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/cf.gif")) no-repeat;}
    .ygtvcheck0 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check0.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
    .ygtvcheck1 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check1.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
    .ygtvcheck2 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check2.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
</style>
<!-- END imageSessionData/xnat_imageSessionData_report.vm -->